.calc {
  transition: background 0.3s;

  padding: 3vh 15px;
  background: #f3f3f3;
  border-radius: 5px;
  min-height: 76vh;

  &__history {
    transition: background 0.3s;

    box-shadow: inset 0px 7px 6px -6px rgb(44, 44, 44);
    background: #fff;
    padding: 10px 30px;
    font-size: 16px;
    height: 100px;
    overflow: auto;

    &.dark {
      color: #fff;
      background-color: #363736;
    }
  }

  &__display {
    margin-bottom: 20px;

    &__screen {
      transition: all 0.3s;
      
      border: none;
      border-radius: 0;
      border-top: 1px solid #ced4da;
      
      &.dark {
        color: #fff;
        background-color: #363736;
      }
    }
  }

  &__btn {
    display: block;
    width: 25%;

    height: 80px;

    border-radius: 0;

    background: #f3f3f3;
    border: 0.5px solid #aeaeae;
    color: #363736;

    &.resize {
      width: 20%;
    }

    &:hover {
      background: #e8e8e8;
      color: #363736;
      box-shadow: none;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited {
      box-shadow: none;
      outline: none;
    }

    &.dark {
      background: #292929;
      border: 0.5px solid #aeaeae;
      color: #fff;
      

      &:hover {
        background: #444444;
        box-shadow: none;
      }
    }
  }

  &__for-scientific {
    display: none;
  }

  &.dark {
    background-color: #292929;
  }
}



