body {
  background: #7e71b2a8;

}

.container_custom {
  background: #7e71b2de;
  padding: 2vh 0;
}

.form-control {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    box-shadow: none;
    outline: none;
  }
}

@import "calc";
@import "footer";
@import "header";