.calc {
  transition: background 0.3s;

  padding: 30px 15px;
  background: #ff821cc7;
  border-radius: 5px;
  min-height: 80vh;

  &__history {
    transition: all 0.3s;

    border-radius: 10px;
    background: #fff;
    padding: 10px 30px;
    font-size: 16px;
    max-height: 100px;
    overflow: auto;
  }

  &__display {
    margin-bottom: 20px;

    &__screen {
      transition: all 0.3s;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    height: 80px;

    border-radius: 0;

    &_size {
      &_big {
        height: 160px;
      }
    }

    &_border {
      &_tl {
        border-radius: 25px 0 0 0;
      }

      &_tr {
        border-radius: 0 25px 0 0;
      }

      &_br {
        border-radius: 0 0 25px 0;
      }

      &_bl {
        border-radius: 0 0 0 25px;
      }
    }
  }
}

.keypad {
  margin: 0 15px;

  &__tr {
    height: 80px;
  }

  &__td {
    width: 25%;
    border: none !important;
    padding: 0 !important;
  }
}
