.header-custom {
  background: #5E38FF;
  min-height: 10vh;

  &__logo {
    width: 50px;
    height: 50px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><path d="M797.9,757.9H563.2c-6.4,0-11.6,5.2-11.6,11.6v28.4c0,6.4,5.2,11.6,11.6,11.6h234.7c6.4,0,11.6-5.2,11.6-11.6v-28.4C809.5,763.1,804.3,757.9,797.9,757.9z M797.9,603.2H563.2c-6.4,0-11.6,5.2-11.6,11.6v28.4c0,6.4,5.2,11.6,11.6,11.6h234.7c6.4,0,11.6-5.2,11.6-11.6v-28.4C809.5,608.3,804.3,603.2,797.9,603.2z M436.8,267.9h-91.5v-91.5c0-6.4-5.2-11.6-11.6-11.6h-28.4c-6.4,0-11.6,5.2-11.6,11.6v91.5h-91.5c-6.4,0-11.6,5.2-11.6,11.6v28.4c0,6.4,5.2,11.6,11.6,11.6h91.5V411c0,6.4,5.2,11.6,11.6,11.6h28.4c6.4,0,11.6-5.2,11.6-11.6v-91.5h91.5c6.4,0,11.6-5.2,11.6-11.6v-28.4C448.4,273.1,443.2,267.9,436.8,267.9z M797.9,267.9H563.2c-6.4,0-11.6,5.2-11.6,11.6v28.4c0,6.4,5.2,11.6,11.6,11.6h234.7c6.4,0,11.6-5.2,11.6-11.6v-28.4C809.5,273.1,804.3,267.9,797.9,267.9z M861.1,10H138.9C67.7,10,10,67.7,10,138.9v722.1C10,932.3,67.7,990,138.9,990h722.1c71.2,0,128.9-57.7,128.9-128.9V138.9C990,67.7,932.3,10,861.1,10z M938.4,861.1c0,42.7-34.7,77.4-77.4,77.4H138.9c-42.7,0-77.4-34.6-77.4-77.4V138.9c0-42.7,34.6-77.4,77.4-77.4h722.1c42.7,0,77.4,34.6,77.4,77.4V861.1z M415.2,610.5c-10-10-26.2-10-36.1,0l-72.3,72.3l-72.3-72.3c-10-10-26.2-10-36.2,0c-10,10-10,26.2,0,36.1l72.3,72.3l-72.3,72.3c-10,10-10,26.2,0,36.2c10,9.9,26.2,10,36.2,0l72.3-72.3l72.3,72.3c10,10,26.2,10,36.1,0c10-10,10-26.2,0-36.2l-72.3-72.3l72.3-72.3C425.2,636.7,425.2,620.5,415.2,610.5z"/></g></svg>');
  }

  &__name {
    font-family: 'Orbitron', sans-serif;
    width: 100px;
    text-align: justify;
    text-transform: uppercase;
    white-space: pre-line;
  }
}