body {
  // background: #7E71B2;
  background: #7e71b2a8;

}

.container_custom {
  // background: #5E38FF;
  background: #7e71b2de;
  padding: 2vh 0;
}

.btn-primary {
  background: #f3f3f3;
  border: none;
  color: #363736;

  &:hover {
    background: #e8e8e8;
    color: #363736;
    box-shadow: none;
  }
}

.btn-primary.dark {
  background: #292929;
  border: none;
  color: #fff;

  &:hover {
    background: #444444;
    color: #363736;
    box-shadow: none;
  }
}

@import "calc";
@import "footer";
@import "header";